/* Color palette */
:root {
  --color-dark: hsl(0, 0, 4%);
  --color-light: hsl(0, 0, 100%);
}

/* Dark */
body[data-theme='dark'] {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* Light */
body[data-theme='light'] {
  background-color: var(--color-light);
  color: var(--color-dark);
}
