---
new_page_extension: md
auto_deploy: false
admin_path: "/admin"
webhook_url: 
sections:
- type: directory
  path: projects
  label: Projects
  create: all
  match: "**/*"
- type: document
  path: src/data/theme.json
  label: Theme options
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: "../static/uploads"
use_front_matter_path: true
file_template: ":filename:"
build:
  preview_output_directory: dist
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
